%section
  %hgroup
    %h1 Welcome to RedTix
    %h2 The Last Development Tracker You Will Ever Need
  = link_to('Get Your Organization Created Now!', '#', class: 'action-button primary-action-button')
