!!!
%html{ class: 'no-js' }
  %head
    = render 'layouts/head'
  %body
    - if flash.present?
      #flash
        - flash.each do |type, msg|
          %div{class: type}= msg
    .container
      = yield
    = render 'layouts/footer'
